<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>flask 템플릿 엔진</h1>
    <p>여기서 부터는 그냥 평범한 html 코드가 아니고 Jinja2 Template라고 부르는 새로운 언어</p>
    <p>jinja2 템플릿 사용하여 서버사이드 렌더링</p>
    <p>서버 사이드 렌더링 : 서버에서 완성된 html을 전달한다........?</p>
    <p>클라이언트 사이드 렌더링 CSR : 클라이언트(사용자)가 브라우저에서 변경된 것을 적용한다.....</p>

    <h2>사용자 목록</h2>
    <ul>
        {% for name in names %}
        <li>{{name}}</li>
        {% endfor %}


    
</body>
</html>