<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--사용자 출력 -->
    {% if page is none %}
    <h1>All Users</h1>
    {% else %}
    <h1>Page{{page}}</h1>
    {% endif %}
    
    {%for user in users %}
        <ul>
            <li>{{user['id']}} - {{user['name']}} ({{user['age']}}, {{user['mobile']}})</li>
        </ul>
    {% endfor %}


    {% if page is not none %}    
    {% if page > 1 %}
        <a href="/?page={{ page - 1 }}">Previous</a>
    {% else %}
        <a href="">Previous</a>
    {% endif %}
    {% if page >= 1 and page <= max_page %}
        <a href="/?page={{ page + 1 }}">Next</a>
    {% else %}
        <a href="">Next</a>
    {% endif %}
    {% endif %}

</body>
</html>