<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>회원가입 : 이메일만 검증</h2>
    <!-- <form> -->
        <div>

            <lable for="email">이메일</lable>
            <input type="email" id="email">
            <button id="send-code">인증코드 전송</button>
        </div>
        <div>
            <label for="code">인증코드:</label>
            <input type="text" id="code">
            <button id="check-code">인증코드 확인</button>
        </div>
        <p id="result">
            <!-- 결과 출력할 곳 -->
        </p>
    <!-- </form> -->

    <script>
        // 미션1. 이메일 주소 가져다가 서버로 보내기 (/send-code)
        const send_code = document.getElementById('send-code')
        send_code.addEventListener('click', ()=>{
            const email = document.getElementById('email').value
            console.log(email)
            fetch('/send-code', {
                method: 'POST',
                body: JSON.stringify(email),
                headers: { "content-type": 'application/json; charset=UTF-8'}
            })
                .then(response => response.json())
                .then(data =>
                    document.getElementById('result').innerText = data.message
                )

        })

        const check_code = document.getElementById('check-code')
        check_code.addEventListener('click', () => {
            const code = document.getElementById('code').value
                console.log(code)
                fetch('/verify-code', {
                    method: 'POST',
                    body: JSON.stringify(code),
                    headers: { "content-type": 'application/json; charset=UTF-8'}
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        document.getElementById('result').innerText = data.message
                    })
            
        
        })

        // result에 메일전송 성공/실패 여부 출력 (서버에서 받아와서)
        // 미션2. code 가져다가 서버로 보내기(/verify-code)
        // result에 검증 코드 맞음/틀림 여부 출력 (서버에서 받아와서)
    </script>
    
</body>
</html>