<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 미션3 : 똑같은 걸 rest api로 만들기  -->
    <h1>Store 목록</h1>
    <!-- 미션2 : 검색 폼 추가 -->
     <!-- 검색 한 내용을 불러서 검색 내용만 출력 ex) 홍대 검색하면 %홍대% 로 검색해서 출력-->
      <!--  GET 방식으로 쿼리 파라미터로 보내기 -->
     <form>
        <input type="text" name="q" value="{{ query }}" required>
        <button type="submit">검색</button>
     </form>   
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>TYPE</th>
            <th>ADDRESS</th>
        </tr>
        {% for s in stores %}
        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.type }}</td>
            <td>{{ s.address }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>