<link rel="stylesheet" href="{{url_for('static', filename="css/content.css")}}">
{% extends "base.html" %}
{% block title %} 스토어 정보 {% endblock %}
{% block content %}
<a href="javascript:history.back()">뒤로가기</a>
<div class="info-container">
    <h3>매장 정보</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Store Type</th>
            <th>Store Name</th>
            <th>Store Address</th>
        </tr>
        <tr>
            <td>{{store.id}}</td>
            <td>{{store.type}}</td>
            <td>{{store.name}}</td>
            <td>{{store.address}}</td>
            <tr>
            </table>
            
    <h3>월간 매출액</h3>
    <table id="monthly_sales">
        <tr>
            <th>년-월</th>
            <th>매출액</th>
            <th>상품 판매 횟수</th>
        </tr>
        {% for i in monthly_sales %}
        <tr>
            <td>{{i.monthly}}</td>
            <td>{{i.reevenue}}</td>
            <td>{{i.cnt}}</td>
        </tr>
        {% endfor %}
    </table>


<h3>단골 고객</h3>
<table id="most_visited">
    <tr>
        <th>UserID</th>
        <th>UserName</th>
        <th>Frequent</th>
    </tr>
    {% for i in most_visited %}
    <tr>
        <td><a href="/users/info/{{i.user_id}}">{{i.user_id}}</a></td>
        <td>{{i.name}}</td>
        <td>{{i.cnt}}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}