body {
    font-family: Arial, sans-serif;
    margin: 20px;

}
.prod-image {
    text-align: center;
    margin-bottom: 20px;
}

.prod-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5)
}