.menu p {
    display: inline-block; /* inline, block, inline-block */
    width: 100px;
    border: 1px solid red;
    text-align: center;
}

#cat1 {
    float: left;
    margin: 20px;
    /* padding: 10px */
    border: 1px dashed red;

}

#cat2 {
    float: right;
    padding: 20px;
    border: 1px dashed red;
}