h1 {
    color: blue
}

h2 {
    color: red
}

h3 {
    color: #00ff00
}

h4 {
    color: rgb(159, 193, 231)
}

p {
    color: purple
}

.color1 {
    color: yellow;
    background: black;
    border: 2px solid red;
}

.color2 {
    color: blue;
    background-color: aquamarine;
    border: 4px dotted purple;
    height: 15px;
}

#color3 {
    color: magenta;
    border: 5px dashed skyblue;
    width: 50%
}